/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    letter-spacing: 1px;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}
button{
    color: white;
    background-color: #ff0e83;
    border: 1px solid white;
    padding: 13px 32px;
    font-size: 0.875rem;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
}
button:hover{
    background-color: white;
    color: black;
    border-color: #ff0e83;
    transition: all 0.5s ;
}

/* HEADER */
header{
    background-color: #4e2a84;
    padding: 1.25rem 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.header__content{
    width: 70%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content ul{
    list-style: none;
}
.header__content ul li{
    display: inline;
    margin: 0 1rem;
}
.header__content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    /* transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear; */
    transition:all 0.3s linear;
}
.header__content ul .active a{
    color: #ff0e83;
}
.header__content ul a:hover{
    color: #ff0e83;
}
.header__content p{
    color: white;
    font-size: 2.3125rem;
}

/* CAROUSEL */
.carousel{
    background-image: url("../image/b3.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel__content h1{
    font-size: 3.5rem;
}
.carousel__content p{
    font-size: 1.1rem;
    padding: 23px 0;
}

/* INTRO */
.intro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.intro__item img{
    width: 100%;
    height: 100%;
    display: block;
}

.intro__1{
    /* số line bắt đầu của item */
    /* số line kết thúc  */
    /* số cột mà item chiếm  */
    grid-column: 2 / 4 ;
}
.intro__2{
    grid-column: 1 / 3;
}
.intro__3{
    grid-column: 3 / 5;
}
.intro__item{
    display: flex;
    text-align: center;
    align-items: center;
}
.intro__text{
    padding: 0 2rem;
}
.intro__item h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro__item p{
    font-size: 0.875rem;
    color: #c1c1c1;
    line-height: 29px;
}
.intro .intro__item:first-child{
    background-color: #4e2a84;
}
.intro .intro__item:nth-child(3){
    background-color: #ff0e83;
}
.intro .intro__item:nth-child(4){
    background-color: #ed6498;
}
.intro .intro__item:nth-child(6){
    background-color: #836eaa;
}
.intro .intro__item:nth-child(8){
    background-color: #4e2a84;
}

/* NUMBER */
.number{
    padding: 70px 0; 
}
.number__content{
    width: 70%;
    margin: 0 auto;
    text-align: center;

    display: flex;
    justify-content: space-around;
}
.number__item p:first-of-type{
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 600;
}
.number__item p:last-of-type{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}

/* SERVICE */
.service{
    background-image: url("../image/s1.jpg");
    background-size: cover;
    text-align: center;
    padding: 70px 0;
}
.service h2{
    color: #fff;
}
.service__content{
    width: 70%;
    margin: 0 auto;
    
    display: flex;
}
.service__item{
    padding: 0 20px;
}
.service__item i{
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #fff;
    color: #4e2a84;
    font-size: 3.75rem;
    transition: all 0.3s linear;
}
.service__item h3{
    font-size: 1.5rem;
    margin: 17px 0;
    font-weight: 500;
}
.service__item p{
    font-size: 0.875rem;
    line-height: 25px;
    margin-bottom: 12px;
}
.service__item button{
    padding: 12px 27px;
    border-width: 2px;
}
.service__item:hover i{
    color: #ff0e83;
}

/* GALLERY */
.gallery{
    padding: 70px 0;
}
.gallery__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 0 15px;
}
.gallery__item img{
    width: 100%;
    height: 100%;
    display: block;
}
.gallery__1{
    grid-column: 1 / 3;
}
.gallery__2{
    grid-column: 3 / 5;
}

.gallery__item{
    position: relative;
    overflow: hidden;
}
.gallery__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 132, 163, 0.2);
    color: white;
    padding: 38px 28px;
    text-align: right;
}
.gallery__overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.75rem;
    transform: translateY(50px);
    opacity: 0;
    transition: all 0.3s;
}
.gallery__overlay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    transition:all 0.3s linear;
}
.gallery__overlay h3 span{
    font-weight: 300;
}

.gallery__overlay h3::after{
    content: "";
    width: 100%;
    height: 5px;
    display: block;
    background-color: white;
    margin-top: 10px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.3s;
}
.gallery__item:hover .gallery__overlay h3{
    transform: translateY(0);
}
.gallery__item:hover .gallery__overlay h3::after{
    transform: translateY(0);
    opacity: 1;
}
.gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity: 1;
}

/* TEAM */
.team{
    background-color: #4e2a84;
    padding: 70px 0;
}
.team h2{
    color: white;
}
.team__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px 30px;
    
    width: 75%;
    margin: 0 auto;
}
.team__item img{
    display: block;
    width: 100%;
}
.team__item{
    position: relative;
}
.team__title{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff0e83;
    color: white;
    width: 100%;
    padding: 30px;
    opacity: 1;
    transition: all 0.3s;
}
.team__item h3{
    font-size: 1.3rem;
}
.team__item p{
    font-size: 0.875rem;
    line-height: 28px;
}
.team__detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 100px 40px;
    opacity: 0;
    transition: all .5s;
}

.team__detail h3{
    color: #ff0e83;
}
.team__text{
    margin: 8px 0;
}
.team__social{
    margin-top: 24px;
}
.team__social i{
    width: 37px;
    height: 37px;
    text-align: center;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    line-height: 37px;
    margin: 0 5px;
    transition: 0.3s;
}
.team__social i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}
.team__item:hover .team__title{
    opacity: 0;
}
.team__item:hover .team__detail{
    opacity: 1;
}

/* FEEDBACK */
.feedback{
    background-image: url("../image/cc1.jpg");
    background-size: cover;
    padding: 70px 0;
}
.feedback h2{
    color: white;
}
.feedback__content{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    border: 3px solid #ff0e83;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem;
}
.feedback__content i{
    font-size:1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}
.feedback__content p{
    letter-spacing: 1.3px;
    line-height: 30px;
}
.feedback__content .name{
    color: white;
}

.feedback__content .owl-theme .owl-dots .owl-dot span{
    background-color: rgba(0, 0, 0, 0.5);
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span{
    background-color: black;
}
.feedback__content .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}

/* CONTACT */
.contact{
    padding: 70px 0;
}
.contact__form form{
    width: 70%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 30px;
}
.contact__form textarea{
    grid-column: 1 / 3;
    padding: 15px;
    border: 1px solid black;
    resize: none;
    font-size: 1rem;
    font-weight: 600;
}
.contact__form button{
    grid-column: 1 / 3;
    padding: 15px;
    color: black;
    background-color: #ff0e83;
    font-weight: 600;
}
.contact__form input{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    transition: all .5s;
}
.contact__form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.contact__form textarea:focus{
    outline: none;
}
.contact__form textarea::placeholder{
    color: black;
}
.contact__form button:hover{
    color: #fff;
    background-color: black;
    border-color: black;
}
.contact__maps iframe{
    width: 100%;
    margin-top: 50px;
}
.contact__infor{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
}
.contact__infor i{
    font-size: 2rem;
    color: #4e2a84;
}
.contact__infor p{
    font-size: 0.8rem;
    margin: 10px 0;
}

/* FOOTER */
footer{
    background-color: black;
    padding: 50px 0;
    color: white;
}
.footer__main{
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 50px ;
}
.footer__item{
    width: 25%;
    padding: 0 20px;
}
.footer__item h3{
    font-size: 1.3rem;
    color: #ff0e83;
    margin-bottom: 1rem;
}
.footer__item p{
    font-size: 0.8rem;
    line-height: 28px;
    margin-bottom: 1rem;
}


.footer__copyright{
    text-align: center;
    font-size: 0.8rem;
}
.footer__copyright span{
    color: #ff0e83;
}


.footer__social i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid white;   
    transition: all 0.5s;
}
.footer__social i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}
.footer__time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}
.footer__time p{
    margin: 10px 0;
    padding: 0;
}


.footer__item form input{
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
}
.footer__item form input:focus{
    outline: none;
}
.footer__item form button{
    padding: 7px 16px;
    margin-bottom: 1rem ;
    color: black;
    border-color: #ff0e83;
    font-weight: 700;
    margin-bottom: 24px;
}
.footer__item form button:hover{
    border-color: black;
}

/* BACK TO TOP */
.backtotop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
}
.backtotop i{
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: #0bbbcc;
    border:2px solid #0bbbcc;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
}

/* back-to-top button visible */
.cd-top--is-visible{ 
    visibility: visible;
    opacity: 1;
}
